@using modulo_admin.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/faviconUNAN.ico")" />
    <!-- iCheck Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icheck-bootstrap@3.0.1/icheck-bootstrap.min.css">
    <title>@ViewBag.Title</title>    
    @Styles.Render("~/Content/css")
</head>
<body class="sb-nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion pt-2" style="background-color: white; border-right: 1px solid #E6E6E6" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <img class="img-fluid img-marca" src="@Url.Content("~/assets/img/Marca.png")" alt="Descripción de la imagen" />
                        <hr style="background-color: #E6E6E6" class="m-2" />
                        <div style="background-color: #FBB907" class="d-flex align-content-center justify-content-center">
                            <p class="fs-6 fw-bold" style="color: #02116F">@ViewBag.RolUsuario</p>
                        </div>

                        @*Menus*@

                        @Html.GenerarMenu()


                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <hr class="divider" />
                    <a class="nav-link esp-link" href="@Url.Action("CerrarSesion", "Home")">
                        <i class="fas fa-door-closed"></i>
                        Cerrar Sesion
                    </a>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content" style="top: 0">
            <main>
                <div class="sb-topnav text-center text-white w-100 esp-background d-flex align-items-center justify-content-center" style="position: relative; height: 80px">
                    <h1 class="fs-3 m-0">Sistema Integrado de Gestión Didáctica - <span style="color: #FBB907" class="fw-bold">SIGD</span></h1>
                </div>
                <nav class="sb-topnav navbar navbar-expand navbar-dark table-cabezera" style="position: relative;">

                    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars text-white"></i></button>

                    <!-- Navbar-->
                    <ul class="navbar-nav d-md-inline-block ms-auto me-0 me-md-3 my-2 my-md-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw text-white"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">Ajustes</a></li>
                                <li><a class="dropdown-item" href="#!">Registro de actividad</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="@Url.Action("CerrarSesion", "Home")">Cerrar sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div style="display: flex;">
                    <div style="background: #DC291E; width: 33.3%; height: 6px;"></div>
                    <div style="background: #FBB907; width: 33.3%; height: 6px;"></div>
                    <div style="background: #1A2791; width: 33.4%; height: 6px;"></div>
                </div>

                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="position-relative" style="top: 50px">
                <div class="container-fluid">
                    <div class="small" style="border-top: 1px solid #E6E6E6">
                        <p class="text-center esp-link" style="">&copy; UNAN-Managua - @DateTime.Now.Year</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/complementos")
    @RenderSection("scripts", required: false)
    <script>
        window.addEventListener('DOMContentLoaded', event => {
            const sidebarToggle = document.body.querySelector('#sidebarToggle');
            if (sidebarToggle) {
                sidebarToggle.addEventListener('click', event => {
                    event.preventDefault();
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }
        });      
    </script>
</body>
</html>
